body {
	background-color: lightcyan;
	font-family: "Roboto Slab", serif;
}

h1 {
	font-family: "Spectral SC", serif;
	text-align: center;
	padding: 20px;
}

#exp {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 20px;
}

#mapid {
	width: 960px;
	height: 600px;
	margin: 0 auto;
}

footer {
	position: absolute;
	bottom: 5px;
}

/*.states:hover {
  fill: lightblue;
}

.states {
	fill: lightgray;
}

.state-borders {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}*/